.Footer-data p {
  font-size: 11.5px;
  color: #9b9b9b;
  line-height: 1.8;
}
.Footer-para-linkbox a {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 500;
  margin-left: 22px;
}
.Footer-para-linkbox a:hover {
  font-weight: 500;
  color: #387ed1;
}
