.support-HeroBox {
  background-color: #387ed1;
  height: 468px;
}
.support-HeroBox-topPart {
  padding: 50px 0px 5px;
}
.support-HeroBox-topPart-heading h3 a {
  margin-left: 60px;
  color: #ffffff;
  font-size: 22px;
}
.support-HeroBox-topPart-link a {
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
.support-HeroBox-topPart-link a:hover {
  opacity: 0.8;
}
.support-HeroBox-bottomPart {
  margin: 0px 35px;
}
.support-HeroBox-bottomPart-left h4 {
  font-size: 23px;
  color: #ffffff;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: Arial, Helvetica, sans-serif;
}
.support-HeroBox-bottomPart-left-inputBox {
  width: 625px;
  height: 56px;
  background-color: #ffffff;
  padding: 0px 10px;
  color: #666666;
}
.support-HeroBox-bottomPart-link a {
  margin-right: 30px;
  color: #ffffff;
  font-size: 17px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
.support-HeroBox-bottomPart-right {
  margin-left: 80px;
}
.support-HeroBox-bottomPart-right h3 {
  font-size: 22px;
  color: #ffffff;
}
.support-HeroBox-bottomPart-right p,
.support-HeroBox-bottomPart-right ul {
  width: 423px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.support-HeroBox-bottomPart-right ul a {
  color: #ffffff;
  font-size: 17px;
  text-decoration: underline;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
