.products-universe-box {
  margin: 75px auto;
}
.products-universe-Innerbox h5 {
  font-weight: 400;
  font-size: 22px;
}
.products-universe-Innerbox p {
  font-size: 16.8px;
}
.products-universe-imageBox {
  margin-left: 8px;
}
.product-universe-images {
  width: 310px;
}
.product-universe-images p {
  font-size: 12.7px;
  color: #9b9b9b;
  font-weight: 500;
}
