.LeftBox {
  margin: 100px auto;
  padding: 0px 75px;
  width: 100%;
  max-width: 1300px;
}
.LeftSideTxtBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  margin-left: 200px;
}

/* Styles for standard desktops and laptops */
@media only screen and (max-width: 1300px) {
  .LeftBox {
    padding: 0px 15px;
    max-width: 1080px;
  }
  .LeftSideImgBox {
    width: 470px;
    margin-left: 55px;
  }
  .LeftSideTxtBox {
    margin-left: 150px;
  }
}

/* Styles for tablets in landscape and small desktops */
@media only screen and (max-width: 1080px) {
  .LeftSideImgBox {
    width: 400px;
    margin-left: 90px;
  }
  .LeftSideImgBox img {
    width: 490px;
    margin-top: 50px;
  }
  .LeftSideTxtBox {
    margin-left: 120px;
    max-width: 310px;
    width: 100%;
  }
}

/* Styles for tablets in portrait mode */
@media only screen and (max-width: 970px) {
  .LeftSideImgBox {
    width: 380px;
    margin-left: 60px;
  }
  .LeftSideImgBox img {
    width: 420px;
    margin-top: 80px;
  }
  .LeftSideTxtBox {
    margin-left: 100px;
  }
}

/* Styles for tablets in portrait mode */
@media only screen and (max-width: 875px) {
  .LeftSideImgBox {
    width: 320px;
    margin-left: 50px;
  }
  .LeftSideImgBox img {
    width: 400px;
    margin-top: 80px;
  }
  .LeftSideTxtBox {
    max-width: 310px;
    margin-left: 80px;
  }
}

/* Styles for tablets in portrait mode */
@media only screen and (max-width: 785px) {
  .LeftSideImgBox {
    width: 100%;
    margin-left: 0px;
  }
  .LeftSideImgBox img {
    width: 90%;
    margin-top: 0px;
  }
  .LeftSideTxtBox {
    padding: 0px 15px;
    max-width: 100%;
    margin-left: 0px;
  }
}
