.home-assurance-box {
  margin: 100px auto;
}
.home-assurance-txtBox {
  width: 475px;
}
.home-assurance-rightBox {
  margin-left: 25px;
}
.home-assurance-img {
  width: 625px;
}
.home-assurance-boxPara {
  line-height: 2;
}
.home-assurance-boxPara a {
  text-decoration: none;
  font-weight: 500;
}
.home-assurance-boxPara a:hover {
  color: black;
}
.home-assurance-linkBox {
  width: 625px;
}
.home-assurance-linkBox a {
  text-decoration: none;
  font-weight: 500;
  line-height: 2px;
}
.home-assurance-linkBox a:hover {
  color: black;
}
