.navbar {
  display: block;
  height: 68px;
  box-shadow: 2px 1px 2px #eee;
  padding: 0px 200px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}
.Nav-Box {
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.container-fluid {
  padding: 0;
}
.Nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 45px;
}
.navbar-collapse {
  flex-grow: 0;
}
.Nav-links a {
  font-size: 15.3px;
  text-decoration: none;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
.Nav-links a:hover {
  color: #387ed1 !important;
  cursor: pointer;
}
.Nav-links a:focus {
  color: #387ed1 !important;
}
.Nav-links a i {
  font-size: 18px;
  line-height: 2;
}
.hide {
  display: none;
}
.Nav-Additionals {
  width: 680px;
  z-index: 15;
  position: absolute;
  top: 68px;
  right: 210px;
  box-shadow: 15px 0px 8px #eee;
}
.Nav-Additional_topBox {
  height: 148px;
  background-color: #ffffff;
  box-shadow: -3px -3px 8px #eee;
}
.Nav-Additional_topBox img {
  height: 50px;
  width: 50px;
}
.linkHead {
  margin: 15px 0px 0px;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}
.linkHead:hover {
  color: #387ed1;
  cursor: pointer;
}

.linkDesc {
  margin: 10px 0px 0px;
  font-size: 12.3px;
  line-height: 1;
  color: #9b9b9b;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.Nav-Additional_bottomBox {
  height: 217px;
  background-color: #fafafb;
  padding: 0px 0px 0px 20px;
  box-shadow: -3px 3px 8px #eee;
}
.OtherlinksHead {
  font-size: 17px;
}
.OtherlinkDesc {
  font-size: 15px;
  line-height: 1.9;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
}
.OtherlinkDesc:hover {
  color: #387ed1;
  cursor: pointer;
}
