.openAcc-heading {
  font-size: 36px;
}
.openAcc-btn {
  background-color: #387ed1;
  color: #ffffff;
  width: 210px;
  margin: 25px auto;
  padding: 10px 30px;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}
.openAcc-btn:hover {
  background-color: #000000;
}
