.TicketBox {
  margin: 40px auto 120px;
  width: 100%;
  max-width: 1300px;
  padding: 0px 75px;
}
.TicketBox h3 {
  color: #444444;
  font-size: 25px;
  font-weight: 400;
}

/* Styles for large desktops */
@media only screen and (min-width: 1550px) and (max-width: 2000px) {
  .TicketBox {
    max-width: 1400px;
    padding: 0px 30px;
  }
}

/* Styles for standard desktops and laptops */
@media only screen and (max-width: 1300px) {
  .TicketBox {
    max-width: 1080px;
    padding: 0px 15px;
  }
}

/* Styles for tablets in portrait mode */
@media only screen and (max-width: 768px) {
  .TicketLinks {
    margin-top: 20px;
  }
}
