.support-ticket-heading a {
  color: #222222;
  font-size: 22px;
  font-weight: 400;
}
.support-ticket-heading a i {
  margin-right: 5px;
  font-size: 18px;
  opacity: 0.6;
}
.support-ticket-heading a:hover {
  color: #387ed1;
}
.support-ticket-linkBox {
  padding-left: 25px;
}
.support-ticket-linkBox a {
  letter-spacing: 0.7px;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.support-ticket-linkBox a:hover {
  color: #666666;
}
