.BrokrageBox {
  margin: 60px auto;
  padding: 0px 100px;
  max-width: 1300px;
  width: 100%;
}
.BrokragePoints {
  font-size: 13px;
  color: #666666;
  line-height: 1.9;
}

/* Styles for standard tablets */
@media only screen and (max-width: 1000px) {
  .BrokrageBox {
    margin: 60px auto;
    padding: 0px 40px;
    max-width: 1300px;
    width: 100%;
  }
}
