.LeftBox {
  width: 505px;
  border-right: 2px solid #eee;
  height: 100vh;
}
.LeftTopBox {
  height: 80px;
  border-bottom: 2px solid #eee;
  margin: 0px;
}
.CentDig {
  color: purple;
  margin: 0px 20px;
}
.RightDig {
  color: #29282856;
}
.LeftBoxes {
  border-bottom: 2px solid #eee;
  height: 40px;
  margin: 0px;
}
.left1boxtxt {
  font-size: 14px;
  color: #29282856;
}
.leftboxtxt {
  font-size: 13px;
  color: #030c3d56;
}
.leftboxdigit {
  font-size: 14px;
  color: grey;
}
.reddish {
  color: #d621a0be !important;
}
.LeftBoxFooter {
  width: 505px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #eee;
}
.Pagechange {
  display: flex;
}
.PageNum {
  padding: 5px 15px;
  border-right: 2px solid #eee;
}
.Settings {
  margin-right: 15px;
}

.actions {
  display: flex;
  gap: 6px;
  margin-left: 10px;
}

.buy {
  background-color: #2979ff;
  color: white;
  border: none;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.buy:hover {
  background-color: #1565c0;
}

.sell {
  background-color: #ff3d00;
  color: white;
  border: none;
  padding: 3px 8px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sell:hover {
  background-color: #d32f2f;
}

.action {
  border: 1px solid #ccc;
  background-color: white;
  color: #444;
  padding: 3px 6px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action:hover {
  border-color: #888;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 10px;
  vertical-align: middle;
}

.actionWrapper {
  position: absolute;
  top: 1px;
  right: 10px;
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 1;
}
