.LeftBox {
  border-right: 2px solid #eee;
  height: 100vh;
}
.LeftTopBox {
  height: 80px;
  border-bottom: 2px solid #eee;
  margin: 0px;
}
span {
  margin-right: 15px;
  font-size: 13px;
}
.CentDig {
  color: purple;
}
.RightDig {
  color: #29282856;
}
.LeftBoxes {
  border-bottom: 2px solid #eee;
  height: 40px;
  margin: 0px;
}
.left1boxtxt {
  font-size: 14px;
  color: #29282856;
}
.leftboxtxt {
  font-size: 13px;
  color: #030c3d56;
}
.leftboxdigit {
  font-size: 14px;
  color: grey;
}
.reddish {
  color: #d621a0be !important;
}
