.ToggledBox {
  background-color: white;
  z-index: 1;
  width: 300px;
  position: fixed;
  top: 85px;
  right: 10px;
  padding: 10px 20px;
  font-size: 13px;
  border: 2px solid #eee;
}
.box {
  margin-top: 10px;
  border-bottom: 2px solid #eee;
}
.box p:hover {
  cursor: pointer;
}
