.products-hero-headbox {
  margin: 100px auto;
}
.products-hero-innerbox {
  margin: 0px 48px;
  padding-bottom: 100px;
  border-bottom: 1px solid #eee;
}
.products-hero-headbox p1 {
  font-size: 17px;
}
.products-hero-headbox p1 a {
  text-decoration: none;
  font-weight: 500;
  line-height: 2;
}
.products-hero-headbox p1 a:hover {
  color: black;
}
.products-hero-headbox-para {
  font-size: 20px;
}
