.Support-Footer {
  background-color: #fbfbfb;
  margin: 0;
  width: 100%;
  padding: 40px 0px 0px;
}
.Support-Footer-introBox {
  width: 250px;
}
.Support-Footer-rights {
  font-size: 13.5px;
}
.Support-Footer-introBox h5 i {
  font-size: 18px;
}
.Support-Footer-introBox h5 {
  font-size: 21px;
}
.Support-Footer-socials {
  padding: 15px 0px;
}
.Support-Footer-socials i {
  font-size: 20px;
  margin-right: 25px;
  color: #666666;
}
.Support-Footer-socials a i:hover {
  color: #387ed1 !important;
  font-weight: 500;
  cursor: pointer;
}
.Support-Footer-linkBox {
  width: 250px;
  margin-left: 50px;
}
.Support-Footer-linkBox h3 {
  font-size: 20px;
}
.Support-Footer-linkBox a {
  font-weight: 490;
  font-size: 17px;
  line-height: 1.8;
}
.Support-Footer-linkBox a:hover {
  color: #387ed1 !important;
  font-weight: 500 !important;
  cursor: pointer;
}
