.about-team-introBox {
  width: 420px;
  margin-left: 32px;
}
.about-team-image {
  width: 300px;
  height: 300px;
}
.about-team-name {
  font-weight: 400;
}
.about-team-designation {
  font-size: 15px;
}
.about-team-para {
  text-align: left;
  margin-left: 15px;
}
.about-team-para p {
  line-height: 1.8;
  font-size: 17px;
}
.about-team-para p a {
  text-decoration: none;
  font-weight: 500;
  line-height: 2;
}
.about-team-para p a:hover {
  color: black;
}
